/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/* Code for cross browser compatability */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General tags,classes and ids */

html{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background-color: #d3f7f2;
    color: #212121;
    overflow-x: hidden; 
    overflow-y: hidden;
    text-align: left;
    font-family: 'Oswald', sans-serif;
}


/* Navbar for mobile view*/
/* Logo Div */
.MediaDiv{
  z-index: One
}
.overlay{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 20;
    left:-100vw;
    top: 0;
    left: 0;
    background-color: #d3f7f2;
    color:#212121;
    overflow: hidden; 
    transition: 0.7s;
  }

.overlay-content ul{
   list-style: none;
 }

  /* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%; 
    text-align: center; 
    margin-top: 30px;
}

  /* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #212121;
    display: block; 
    transition: 0.3s; 
    font-size: 1.5em;
}

  /* Position the close button (top right corner) */ 
.overlay .closebtn {
    position: absolute;
    right: 35px;
    top: 2px;
    color: #212121 !important;
    font-weight: 900;
    font-size: 1.5em;
  }


/* Mobile Navbar */
/* Navbar image */
.NavbarImage{
  width: 85%;
  margin-top: 2vh;
}
 /* burger navbar */
.Bars{
  color: #212121 !important;
    margin-left: -5vw;
    font-size: 1.5em !important;
    margin-top: 6vh;
}
.mobile-Nav{
  display: block;
 
}


/* General classes */
.hideMobile{
  display: none;
}
.MobileView{
  display: block;
}
strong{
  font-weight: 600;
}

/* icons */
a{
  color: #212121;
}
a:hover{
  color: #318fb5;
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px aqua; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f7d6bf; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: aquamarine; 
}
/*default version*/
@font-face {
	font-family: 'CalibriRegular';
  font-family: 'CalibriLight';
	src: url('../assets/font/calibri-font-sv/CalibriRegular/CalibriRegular.ttf'); 
	src: url('../assets/font/calibri-font-sv/CalibriLight/CalibriLight.ttf')
}
/* paragraph text for all the pages and sections */
p{
  font-size: 16px;
  font-weight: 200;
  line-height: 18px;
  text-align: left;
  text-size-adjust: 2px;
  margin: 20px;
  font-family: 'CalibriLight';
}

/* h tags */
h1{
font-size: 2em;
 font-family: 'Oswald', sans-serif;
}
h3{
  text-align: left;
  margin-left: 1vw;
   font-family: 'Oswald', sans-serif;
}
h4{
  font-size: 18px;
 text-align: center;
   font-family: 'Oswald', sans-serif !important;
}



/* Desktop navbar section */
.Desktop{
  display: none;
}
/*Desktop navbar */
.navbar-expand-lg{
  color: #212121 !important;
  font-size: 1.5em;
}


/* footer section */
.icons{
  display: inline-block;
  font-size: 1.1em;
  border-radius: 50%;
  color: #212121 !important;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 15px;
  
}
/* Social media icons on hover */
.fa{
       -o-transition:.3s;
        -ms-transition:.3s;
        -moz-transition:.3s;
        -webkit-transition:.3s;
        transition:.3s;
}
.fa-phone:hover {
  color: #4F7E71;  
}
.fa-envelope:hover {
  color: #E50914;
}
.fa-linkedin-in:hover{
  color: #21567E;
}
.fa-whatsapp:hover{
  color:#2EA120;
}
.fa-instagram:hover{
  color: #e43f5a;
}
.fa-facebook-f:hover{
  color: #3b5998;
}

/* Footer text */
.CopyText{
  text-align: center;
  font-size: 14px;
  font-weight:400 ;
}
.CompanyName{
  color:rgb(223, 17, 86) !important;
}
.FooterText{
    margin-top: -3vh;
    
}

.dotOne{
    height: 40px;
    width: 40px;
    background-color :#0e1527;
    border-radius: 50%;
    margin-bottom: -14vh;
    margin-left: 15vw;
    }
.dotTwo {
    height: 20px;
    width: 20px;
    background-color :rgb(218, 136, 211);
    border-radius: 50%;
    margin-top: 4vh;
    margin-left: 80vw;
    }
.dotThree {
  height: 60px;
  width: 60px;
  background-color :rgb(54, 15, 228);
  border-radius: 50%;
  margin-top: 16vh;
  margin-left: 75vw;
  }
.dotFour {
    height: 30px;
    width: 30px;
    background-color :#0eeed4;
    border-radius: 50%;
    margin-top: -20vh;
    margin-left: 45vw;
  }

.dotSix {
    height: 60px;
    width: 60px;
    background-color :rgb(218, 136, 211);
    border-radius: 50%;
    margin-bottom: 24vh;
    margin-left: 15vw;
    }  


.dotEight {
  height: 300px;
  width: 300px;
  background-color :#3fc5cf ;
  border-radius: 50%;
  margin-top: -90vh;
  margin-left: 7vw;
  animation: change infinite forwards 4s ease-in-out;
  }

  .dotSeven {
    height: 20px;
    width: 20px;
    background-color : black;
    border-radius: 50%;
    transform: translate(65vw, -30vh);
   
    }

.dotFive {
  height: 30px;
  width: 30px;
  background-color :#0eb0f0;
  border-radius: 50%;
  margin-top: 55vh;
  margin-left: 85vw;
  }

.title{
    padding: 20px;
    padding-top: 17vh;
    font-family: 'Old Standard TT', serif !important;
    font-style: italic;
    color: #fff !important;
    
  }
  
 @keyframes change{
   0%{
     background-color: #3fc5cf ;
   }
   25%{
    background-color: rgb(238, 18, 201);
  }
  50%{
    background-color: #3fc5cf ;
  }
  75%{
    background-color: pink;
  }
  100%{
    background-color: rgb(56, 147, 199);
  }
 }
.IndexTextBox{
  font-style: italic;
}
.IndexFooter{
  margin-top: 17vh;
}
/* About page : Logo position*/
.NetWebDynamicsLogo{
  margin-left: 8vw;
  padding: 15px;
  width: 80%;
 
}
.AboutFooter{
  margin-top: -4vh;
}

/* Services page*/
#ServicesCard{
  border: none;
  background-color: rgba(230, 180, 193, 0);
}
.ServiceIcons{
   width: 40vw;
  padding: 14px;
  /* margin-bottom: 1.5vh; */
}

.ServicesFooter{
  margin-top: -12.5vh;
}

/* Projects page */
.ProjectsCards{
  margin-left: 17vw;
  margin-top: 4vh;
  border: #318fb5 2px solid;
  background-color: #d3f7f2;
  width: 15rem;
}
.ProjectsCards:hover{
  background-color: #005086 !important;
}

/*contact page */

/* form section */
.form-control{
  background-color:#b0cac7;
  color: #212121;
  font-weight: 400;
}
.FormButton{
  color:#d3f7f2;
  background-color: #212121;
  border-radius: 50px;
  font-weight: 600;
  width: 60vw;
  padding: 10px;
  margin-left: 17vw;
}
 /*Map */
iframe{
  margin-top: 2vh;
  width:92vw;
  height:55vh;

}

 /* ---media queries */
 
 /* // Extra small devices (portrait phones, less than 576px) */
 /* // No media query for `xs` since this is the default in Bootstrap */
 
 /* // -Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (orientation: landscape) { 
 
  
 }
 
 /* -Medium devices (tablets or ipad) */
 @media (min-width: 768px) {

/* General classes  */

/* Mobile Navbar */
/* Navbar image */
.NavbarImage{
  width: 35%;
}
/*Mobile View: burger navbar */
 .Bars{
  margin-left: 2vw;
  margin-top: 4vh;
}

.dotEight {
  height: 450px;
  width: 450px;
  margin-top: -80vh;
  margin-left: 7vw;
  }

/*Footer section  */
.FooterText{
  margin-top: -2vh;
}
/* Index page */

.IndexFooter{
  margin-top: 15vh;
}
/* About page */
.NetWebDynamicsLogo{
  margin-left: 10vw;
  padding: 15px;
  width: 60%;
}
.AboutFooter{
  margin-top: 4vh;
}
.AboutText{
  padding: 20px;
}
/* Service page */
.ServiceIcons{
  width: 16vw;
 margin-top: -0.5vh;
 margin-left: 21vw;
}
/* Projects page */
.ProjectsCards{
  margin-left: 15vw;
  width: 13rem;
}


/* Contact page */
.FormButton{
  width: 25vw;
  margin-left: 20vw;
}

 /*Map */
 iframe{
  width:63vw;
  height:35vh;

}


}
 
 /* -Large devices (ipad pro) */
 @media (min-width: 992px) { 
    /*General classes  */
    .hide{
        display: none;
    }
    .MobileView{
      display: none;
    }
    .Desktop{
    display: block;
    } 
   .DesktopOnly{
      display: block;
    }
   .block{
    margin-top: 1vh;
   }

    /*Desktop Navbar */
    #IndexDesktopNavbar{
      transform: translateX(34vw);
      margin-top: 10vh;
    }
   .navbar-nav{
      transform: translateX(30vw);
      margin-top: 10vh;
    }
   .DesktopLogo{
      margin-top: 6vh;
    }

        /* Index page */

    .IndexFooter{
      transform: translateY(-6vh);
    }
    .dotSix {
      height: 40px;
      width: 40px;
      margin-bottom: 34vh;
      margin-left: 35vw;
      } 
  .dotNine {
    height: 80px;
    width: 80px;
    background-color : rgb(6, 28, 124);
    border-radius: 50%;
    transform: translate(60vw, -65vh);
    } 

  .dotTen {
    height: 40px;
    width: 40px;
    background-color : rgb(21, 193, 245);
    border-radius: 50%;
    transform: translate(20vw, 10vh);
    } 
    
  .dotEleven {
    height: 80px;
    width: 80px;
    background-color : rgb(0, 236, 177);
    border-radius: 50%;
    transform: translate(80vw, 5vh);
    } 

  .dotTwelve {
    height: 40px;
    width: 40px;
    background-color : rgb(21, 245, 245);
    border-radius: 50%;
    transform: translate(40vw, -45vh);
    } 

    .dotThirten {
      height: 40px;
      width: 40px;
      background-color : lightcoral;
      border-radius: 50%;
      transform: translate(30vw, -95vh);
      } 
      .title{
        padding-top: 18vh;
      }
      

   /* About page : Logo position*/
   .NetWebDynamicsLogo{
    padding-top: 8vh;
    width: 90%;
    margin-left: 12vw;
  }
  .AboutText{
    padding-top: 10vh;
  }

  /* About footer */
  .AboutFooter{
    top: 0vh !important;
    transform: translateY(-6vh);
    margin-bottom: 0;

  }
  /* Services page*/
    #ServicesCard{
      margin-left: -2vw;
    }
    .ServiceIcons{
      width: 16vw;
      transform: translateX(-1vw);

    }

     /* Service page */
  .ServiceIcons{
    width: 10vw;
  margin-bottom: 0.9vh;
  margin-left: 4vw;
  }
    .ServicesFooter{
      margin-top: -18vh !important;
    }
   /* Footer section */
  .FooterIcon{
    margin-left: -3vw;
    margin-top: 14vh;
    padding: 7px;
  }
  .FooterText{
     transform: translateY(-5vh);
      margin-left: 38vw; 
      padding: 14px; 
  }


 

  /* Projects page */
  .ProjectsCards{
  margin-left: 10vw;
  }
  .ProjectFooter{
    margin-top: -14vh;
  }
  .ProjectsCards:hover{
    background-color:#b0cac7;
  }

    /* Contact Page */
  .FormButton{
      width: 15vw;
      margin-left: 12vw;
  }  
  iframe{
    width:97vw;
    height :25vh;
  }
  .ContactFooter{
    margin-top: -12vh;
  }
     
 }
 @media screen and (min-width: 1200px) {

  /* navbar section */
  .navbar-nav{
    transform: translateX(34vw);
    margin-bottom: 4vh;
  }

  .DesktopLogo{
    margin-top: 18vh;
    margin-right: 12vw;
  }
  /* General classes */
  /*Main div */
  
  .block{
    margin-top: -2vh;
  }

  /* About page : Logo position*/
  .NetWebDynamicsLogo{
  margin-left: 20vw;
  margin-top: 2vh;
  width: 60%;
  }
    /* About footer */
    .AboutFooter{
      margin-top: -10vh !important;
    }

  /* Index footer */
  .IndexFooter{
    margin-top: 41vh;
  }
  .title{
    padding-top: 28vh;
  }
  .dotNine {
    height: 40px;
    width: 40px;
    transform: translate(50vw, -75vh);
  }
  .dotTen {
    transform: translate(20vw, 55vh);
  }
  .dotEleven {
    transform: translate(80vw, 15vh);
  }
  .dotTwelve {
    transform: translate(50vw, 15vh);
    } 
  /* Footer section */
  .FooterIcon{
    margin-left: -10vw;
    margin-bottom: -5vh;
  }
  .FooterText{
    transform: translateY(-5vh);
      margin-left: 40vw;  
  }
  /* Services page */
  .ServiceIcons{
    width: 9vw;
    margin-left: 10vw;
    margin-top: -3vh;
  }
  .ServicesFooter{
    margin-top: -20vh !important;
  }
  /* Projects page */
  .ProjectsCards{
    margin-left: 3.8vw;
    }


  /* Contact page*/
  iframe{
    width:96.5vw;
    height :65vh;
    
  }
   }
  
 @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {}/* http://meyerweb.com/eric/tools/css/reset/ 
 